<nav>
  <div class="site-title">
    <a href="/"><h1>Studying Node</h1></a>
    <p>A Study Site</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create</a></li>
  </ul>
</nav>
