<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>Hello there</h2>
      <p>
        É claro que o desenvolvimento contínuo de distintas formas de atuação
        não pode mais se dissociar das diretrizes de desenvolvimento para o
        futuro.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
